@CHARSET "UTF-8";
#main{
	width:80%;
	margin:0 auto;
	overflow:hidden;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	    -ms-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
		 -o-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	        box-shadow: -10 -10px 10px rgba(0,0,0,0.2);
	        padding-bottom:5%;
}
.room2,.room3,.room4,.room5,.room6,.room7,.room8,.room31,.room41,.room51,.room61{
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	    -ms-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
		 -o-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	        box-shadow: -10 -10px 10px rgba(0,0,0,0.2);
	        width:60%;
	        margin:0 auto;
	        text-align:center;
	        padding-top:3%;
}
h3{
	text-align:center;
}
.select_main{
	width:100%;
	margin:0 auto;
	text-align:center;
	margin-bottom:4%;
}
select{
	width:60%;
	height:4%;
	margin:0 auto;
	font-size:120%;
}